body{
	/* background */
	background-color: black;

	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color: rgb(62, 62, 62);
	background-position:center right;
	min-height:80px;
	text-align: center;
}

#main-header h1{
	color:rgb(33, 174, 230);
	font-size:50px;
	line-height: 1.6em;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#main h1{
	color:rgb(210, 210, 210);
	font-size:30px;
	line-height: 1.6em;
}

#main p{
	color:rgb(210, 210, 210);
	font-size:15px;
	line-height: 1.6em;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 10%;
	overflow: hidden;
	background-color: rgb(62, 62, 62);
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }

  .active {
	background-color: rgb(33, 174, 230);
  }

li {
	border-right: 1px solid #bbb;
  }

body {background-color:#2d2d2d;}

  #timedate {
	font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	text-align:left;
	width: 50%;
	margin: 40px auto;
	color:#fff;
	border-left: 3px solid #ed1f24;
	padding: 20px;
  }